
<!-- navbar start -->
<nav class="navbar navbar-expand-lg fixed-top" id="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/" id="logo">
        <span id="sky">Sky</span><span id="onta">Onta</span> <span id="tours">Tours</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span><i class="fa-solid fa-bars"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <!-- Main Menu: Marsa Allam Wycieczki -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Marsa Allam Wycieczki
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="dropdown">
              
              <!-- Luxor Menu with Sublist -->
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#" id="luxorDropdown" data-bs-toggle="dropdown" aria-expanded="false">Luxor</a>
                <ul class="dropdown-menu" aria-labelledby="luxorDropdown">
                  <li><a class="dropdown-item" routerLink="luxor">Prywatna wycieczka do Luksoru</a></li>
                  <li><a class="dropdown-item" routerLink="luxor">Luksor z grupą max 8 osob</a></li>
                  <li><a class="dropdown-item" routerLink="luxor">Luksor - 2 dni z noclegiem</a></li>
                </ul>
              </li>
              
              <!-- Cairo Menu with Sublist -->
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#" id="cairoDropdown" data-bs-toggle="dropdown" aria-expanded="false">Cairo</a>
                <ul class="dropdown-menu" aria-labelledby="cairoDropdown">
                  <li><a class="dropdown-item" routerLink="cairo">Prywatna wycieczka do Kairu</a></li>
                  <li><a class="dropdown-item" routerLink="cairo">Kair z grupą max 8 osob</a></li>
                  <li><a class="dropdown-item" routerLink="/">Kair - 2 dni z noclegiem</a></li>
                </ul>
              </li>
              
              <!-- Safari Menu with Sublist -->
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#" id="safariDropdown" data-bs-toggle="dropdown" aria-expanded="false">Safari</a>
                <ul class="dropdown-menu" aria-labelledby="safariDropdown">
                  <li><a class="dropdown-item" routerLink="safari">super safari 7-godzinny</a></li>
                  <li><a class="dropdown-item" routerLink="safari3hours">Safari 3-godzinny</a></li>
                  <li><a class="dropdown-item" routerLink="#">Buggy 4 Seats / 2 Seats</a></li>
                </ul>
              </li>
      
              <!-- Boat Trips Menu with Sublist -->
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#" id="boatDropdown" data-bs-toggle="dropdown" aria-expanded="false">Boat Trips</a>
                <ul class="dropdown-menu" aria-labelledby="boatDropdown">
                  <li><a class="dropdown-item" routerLink="/">Marsa Mubarak</a></li>
                  <li><a class="dropdown-item" routerLink="/">Dolphin House</a></li>
                  <li><a class="dropdown-item" routerLink="/">Hamata Island</a></li>
                </ul>
              </li>
      
              <!-- Other Options -->
              <li><a class="dropdown-item" routerLink="qusier">El Quseir - Zakupy w Starym Mieście</a></li>
              <li><a class="dropdown-item" routerLink="porto">Port Ghalib</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link" href="/">O nas</a></li>
          <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/skyonta/reviews" target="_blank">Facebook</a></li>
          <li class="nav-item"><a class="nav-link" href="https://maps.app.goo.gl/gCjqjtnT8dEFxUdi8" target="_blank">google</a></li>
  
          <li class="nav-item"><a class="nav-link" href="https://tinyurl.com/55ky84ae" target="_blank">Trip Advisor</a></li>
  
        </ul>
      </div>
      
  <!-- navbar end -->
  
  