<footer class="footer">
    <div class="container">
      <div class="row">
        <!-- About Section -->
        <div class="col-md-3">
          <div class="footer-col">
            <h5>O nas</h5>
            <p>
              Naszą pasją jest świadczenie dla Ciebie najlepszych usług i
              cieszenie się wakacjami w Twoim drugim domu, Egipcie.
            </p>
            <p>
              <i class="fas fa-map-marker-alt"></i>
              <a href="https://maps.app.goo.gl/Yp3d53EyLaTk2rAY6"> Bank Misr Red Sea, Elquiser</a>
            </p>
            <p>
              <i class="fab fa-whatsapp"></i>
              <a href="https://wa.me/201010655608?text="> 00201010655608</a>
            </p>
            <p><a href="mailto:info@skyontaTours.pl">
              <i class="fa-solid fa-envelope"></i> info&#64;SkyOntaTours.pl
            </a></p>
          </div>
        </div>
  
        <!-- Popular Tours -->
        <div class="col-md-3">
          <div class="footer-col">
            <h5>Popularne wycieczki</h5>
            <ul>
              <li><a routerLink="porto"><i class="fas fa-chevron-right"></i> Porto Ghalib</a></li>
              <li><a routerLink="safari"><i class="fas fa-chevron-right"></i> Safari z wielbłądami</a></li>
              <li><a routerLink="about"><i class="fas fa-chevron-right"></i> O nas</a></li>
              <li><a routerLink="porto"><i class="fas fa-chevron-right"></i> Porto Ghalib</a></li>
             
            </ul>
          </div>
        </div>
  
        <!-- Additional Tours -->
        <div class="col-md-3">
          <div class="footer-col">
            <h5>Więcej wycieczek</h5>
            <ul>
              <li><a routerLink="qusier"><i class="fas fa-chevron-right"></i> ElQuseir</a></li>
              <li><a routerLink="luxor"><i class="fas fa-chevron-right"></i> Luksor</a></li>
              <li><a routerLink="cairo"><i class="fas fa-chevron-right"></i> Kair</a></li>
              <li><a routerLink="taxi"><i class="fas fa-chevron-right"></i> Lotnisko Taksówkowe</a></li>
              
            </ul>
          </div>
        </div>
  
        <!-- Social Media -->
        <div class="col-md-3">
          <div class="footer-col">
            <h5>Social Media</h5>
            <p>Aby otrzymywać wiadomości i aktualizacje, śledź nas:</p>
            <div class="social-icons">
              <a href="https://www.facebook.com/skyonta/reviews" target="_blank"
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a href="https://wa.me/201010655608?text=" target="_blank"
                ><i class="fab fa-whatsapp"></i
              ></a>
              
              <a href="#your-link"><i class="fab fa-instagram"></i></a>
              <a href="#your-link"><i class="fab fa-linkedin-in"></i></a>
              <a href="#your-link"><i class="fab fa-youtube"></i></a>
              <a href="https://maps.app.goo.gl/gCjqjtnT8dEFxUdi8" target="_blank"><i class="fab fa-google"></i></a>
              <a href="https://tinyurl.com/55ky84ae" target="_blank">
                <i class="fab fa-tripadvisor"></i> 
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Copyright -->
    <div class="copyright">
      <p>
        Copyright © 2025
        <a href="https://www.facebook.com/skyonta/reviews">Skyonta Tours</a> -
        All rights reserved
      </p>
    </div>
  </footer>
  