<!--Home Section start -->
<div class="home">
    <div class="content">
      <h5>Witamy w Egipcie, Twoim drugim domu</h5>
      <h4>dobra cena wycieczki z hurghada I marsa alam</h4>
      <h1>do <span class="changecontent"></span></h1>
      <p>
        Pracujemy dla Ciebie 24/7, napisz do nas, gdzie jest Twój hotel? Jakiej
        wycieczki szukasz?
      </p>
  
      <button type="submit" class="btn btn">
        <a href="https://wa.link/8nl9v9">napisz do nas teraz</a>
      </button>
      <span hidden>Kliknij tutaj i skontaktuj się z nami przez WhatsApp</span>
  
  
  
  
      
    </div>
    
  </div>
  
  <!--Home Section end -->
  
  <!--section book start -->
  <!-- <section class="book" id="book">
    <div class="container">
      <div class="main-text">
        <h1><span>B</span>ook</h1>
      </div>
      <div class="row">
        <div class="col-md-6 py-3 py-md-0">
          <div class="card">
            <img src="assets/images/dolphine.jpg" alt="dolphine-house" />
          </div>
        </div>
  
        <div class="col-md-6 py-3 oy-md-0">
          
        <form action="#">
        <input type="text"  class="form-control"  placeholder="gdzie do" /><br>
        <input type="text"  class="form-control"  placeholder="ile osób" /><br>
        <input type="text"  class="form-control"  placeholder="przyjazd" /><br>
        <textarea name="text"  class="form-control" rows="5" placeholder="napisz nam swoje imię i nazwisko, nazwę hotelu i numer pokoju"></textarea>
        <input type="submit" value="zarezerwuj teraz" class="submit" required>
      </form>
        </div>
  
      </div>
    </div>
  </section> -->
  <!--section book end -->
  
  
  <!--section pakages start -->
  
  
  
  <section class="packages" id="packages">
    <div class="container">
      <div class="main-text">
        <h1><span>Marsa ALam </span>wycieczki </h1>
      </div>
  
      <div class="row" style="margin-top: 30px;">
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <img src="assets/images/luxor2025/family-14sign.jpg" routerLink="luxor" alt="luxor" />
            <div class="card-body">
              <h3>luksor z grupą max 8 osob</h3>
              <p>Transfer z i do hotelu , Doliną Królów, świątynię Karnak, świątynię Hatszepsut , Kolosy Memnona, Obiad. Polskojęzyczny przewodnik</p>
              <div class="star">
                <li class="fa-solid fa-star checked"></li>
                <li class="fa-solid fa-star checked"></li>
                <li class="fa-solid fa-star checked"></li>
                <li class="fa-solid fa-star checked"></li>
                <li class="fa-solid fa-star checked"></li>
              </div>
              <h6> cena: <strong> 85$ od dorosły osoby 50$ dzieci  </strong></h6>
                 <P>(1-5) lat za darmo - (6-11) lat dziecko połowa ceny</P>
                <a href="https://wa.link/8nl9v9">zarezerwuj teraz</a>
            </div>
          </div> 
        </div>
        
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <img src="assets/images/cairo/pyramidies-view.jpg" routerLink="cairo" alt="cairo" />
            <div class="card-body">
              <h3>kair z grupą max 8 osob</h3>
              <p>Transfer z i do hotelu . piramidy w Gizie , Sfinksa, Muzeum 'stare muzeum', obiad , polskojęzyczny przewodnik</p>
              <div class="star">
                <li class="fa-solid fa-star checked"></li>
                <li class="fa-solid fa-star checked"></li>
                <li class="fa-solid fa-star checked"></li>
                <li class="fa-solid fa-star checked"></li>
                <li class="fa-solid fa-star checked"></li>
              </div>
              <h6> cena: <strong> 100$ od osoby 60$ dzieci </strong></h6>
                 <P>(1-5) lat za darmo - (6-11) lat dziecko połowa ceny</P>
                <a href="https://wa.link/8nl9v9">zarezerwuj teraz</a>
            </div>
          </div> 
        </div>
  
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <img src="assets/images/qusier/Elqusier-port.jpg"  routerLink="qusier" alt="ElQuseir" />
            <div class="card-body">
              <h3>stare miasto i zakupy w El Quseir </h3>
              <p>Jest to najlepsza opcja, aby spędzić czas w tym niezwykłym mieście razem z polskojęzycznym przewodnikiem.
              </p>
              <div class="star">
                <li class="fa-solid fa-star checked"></li>
                <li class="fa-solid fa-star checked"></li>
                <li class="fa-solid fa-star checked"></li>
                <li class="fa-solid fa-star checked"></li>
                <li class="fa-solid fa-star checked"></li>
              </div>
              <h6> cena: <strong> 10 od osoby 5 dzieci </strong></h6>
                 <P>specjalna cena dla dużych rodzin</P>
                <a href="https://wa.link/8nl9v9">zarezerwuj teraz</a>
            </div>
          </div> 
        </div>
  
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <img src="assets/images/portGhalib/divino.jpg" routerLink="porto"  alt="port Ghalib" />
            <div class="card-body">
              <h3>Port Ghalib City Tour</h3>
              <p>Transfer z i do hotelu . ciesz się niesamowitym wieczorem w porcieGhalib ,Chavez w restauracji na Bazarach , polskojęzyczny przewodnik</p>
              <div class="star">
                <li class="fa-solid fa-star checked"></li>
                <li class="fa-solid fa-star checked"></li>
                <li class="fa-solid fa-star checked"></li>
                <li class="fa-solid fa-star checked"></li>
                <li class="fa-solid fa-star checked"></li>
              </div>
              <h6> cena: <strong> 10$ od osoby 5$ dzieci </strong></h6>
                 <P>specjalna cena dla rodzin i dużych grupy</P>
                <a href="https://wa.link/8nl9v9">zarezerwuj teraz</a>
            </div>
          </div> 
        </div>
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <img src="assets/images/quad/super-safari- (154).jpg" routerLink="safari" alt="super-safari" />
            <div class="card-body">
              <h3>Quady i jeep - BBQ z wiełbłądami i wioską beduińską</h3>
              <p>Super Safari - transfer z i do Hotelu jazda quadem oraz jeepem, wizyta w wiosce beduińskiej przejażdżka na wielbłądzie, kolacja i show.</p>
              <div class="star">
                <li class="fa-solid fa-star checked"></li>
                <li class="fa-solid fa-star checked"></li>
                <li class="fa-solid fa-star checked"></li>
                <li class="fa-solid fa-star checked"></li>
                <li class="fa-solid fa-star checked"></li>
              </div>
              <h6> cena: <strong> 35$ od osoby 18$ dzieci </strong></h6>
                 <P>(1-5) lat za darmo - (6-11) lat dziecko połowa ceny</P>
                <a href="https://wa.link/8nl9v9">zarezerwuj teraz</a>
            </div>
          </div> 
        </div>
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <img src="assets/images/quad/qaud-with-sunset.jpg" routerLink="safari3hours" alt="safari-3hours" />
            <div class="card-body">
              <h3>3-godzinny safari quadami z przejażdżką na wielbłądzie</h3>
              <p>transfery z i do hotelu . jazda na quadach i wielbłądach oraz napoje bezalkoholowe</p>
              <div class="star">
                <li class="fa-solid fa-star checked"></li>
                <li class="fa-solid fa-star checked"></li>
                <li class="fa-solid fa-star checked"></li>
                <li class="fa-solid fa-star checked"></li>
                <li class="fa-solid fa-star checked"></li>
              </div>
              <h6> cena: <strong> 25$ od osoby 15$ dzieci </strong></h6>
                 <P>(1-5) lat za darmo - (6-11) lat dziecko połowa ceny</P>
                <a href="https://wa.link/8nl9v9">zarezerwuj teraz</a>
            </div>
          </div> 
        </div>
        
        
        <!-- <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <img src="assets/images/cairo/cairo.jpg" routerLink="qusier" alt="cairo" />
            <div class="card-body">
              <h3>kair z grupą max 8 osob</h3>
              <p>Transfer z i do hotelu . piramidy w Gizie , Sfinksa, Muzeum 'stare muzeum', obiad , polskojęzyczny przewodnik</p>
              <div class="star">
                <li class="fa-solid fa-star checked"></li>
                <li class="fa-solid fa-star checked"></li>
                <li class="fa-solid fa-star checked"></li>
                <li class="fa-solid fa-star checked"></li>
                <li class="fa-solid fa-star checked"></li>
              </div>
              <h6> cena: <strong> 100$ od osoby 60$ dzieci </strong></h6>
                 <P>(1-5) lat za darmo - (6-11) lat dziecko połowa ceny</P>
                <a href="https://wa.link/8nl9v9">zarezerwuj teraz</a>
                <a routerLink="qusier" >Więcej szczegółów</a>
            </div>
          </div> 
        </div> -->
  
        
      </div>
    </div>
  
  
  </section>
  
  
  <!--section pakages end -->
  
  <!--section service start -->
  
  <section class="services" id="services">
  
    <div class="container">
      <div class="main-text">
        <h1><span>S</span>ervices</h1>
      </div>
  
      <div class="row" style="margin-top: 30px;">
        <div class="col-md-4 py-3 py-md-0">
            <div class="card">
              <i class="fas fa-taxi"></i>
              <div class="card-body">
                <h3>transfer taksówkąr</h3>
                <p>zarezerwuj taksówkę z lotniska do hotelu</p>
              </div>
            </div>
        </div>
  
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <i class="fas fa-taxi"></i>
            <div class="card-body">
              <h3>transfer taksówką</h3>
              <p>zarezerwuj taksówkę z lotniska do hotelu</p>
            </div>
          </div>
      </div>
  
      <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <i class="fas fa-taxi"></i>
          <div class="card-body">
            <h3>transfer taksówką</h3>
            <p>zarezerwuj taksówkę do każdego miejsca w Egipcie</p>
          </div>
        </div>
    </div>
      </div>
    </div>
  </section>
  
  
  <!--section service end -->
  <!--section Gallary start -->
  <!-- <section class="gallary" id="gallary">
    <div class="container">
      <div class="main-text">
        <h1><span>G</span>allary</h1>
      </div>
  
      <div class="row" style="margin-top:30px">
      <div class="col-md-4 py-3 py-md-0"> 
        <div class="card">
          <img src="assets/images/luxor.jpg" alt="cairo" />
        </div>
      </div>
      <div class="col-md-4 py-3 py-md-0"> 
        <div class="card">
          <img src="assets/images/luxor.jpg" alt="cairo" />
        </div>
      </div>
      <div class="col-md-4 py-3 py-md-0"> 
        <div class="card">
          <img src="assets/images/luxor.jpg" alt="cairo" />
        </div>
      </div>
  
      </div>
  
    </div>
  
  </section>
  
  
  <--section Gallary end -->
  
  <!--About start  -->
  <!-- 
  <section class="about" id="about">
    <div class="container">
      <div class="main-text">
        <h1>About<span>us</span></h1>
      </div>
      <div class="row" style="margin-top:50px ;">
  
        <div class="col-md-6 py-3 py-md-0">
          <div class="card">
            <img    src="assets/images/giza-pyramides.jpg" alt="cairo">
          </div>
          </div>
  
          <div class="col-md-6  py-3 py-md-0" id="about-text">
            <h2>how travel agency work</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis odio ipsum impedit, dolorem hic in
              nemo animi autem ipsa, perspiciatis asperiores vitae omnis ullam quae voluptas! Vel facilis deleniti
              quibusdam?</p>
            <button id="about-btn"> Read more ...</button>
          </div>
        
  
      </div>
    </div>
  </section>  -->
  
  
  <!--About end  -->
  
  
  